<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mapa Interativo</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        iframe {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            border: none;
            z-index: 1;
        }
    </style>
</head>
<body>
    <h2>Mapa com Produtores Locais</h2>
    <iframe src="{{ url_for('static', filename='mapas/mapa.html') }}"></iframe>
</body>
</html>